<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VMed</title>
  </head>
  <body>
    <div class="bg-container">
      <div class="nav">
        <nav class="navbar">
          <img
            src="https://img1.getimg.ai/generated/f141147a-0996-4c97-a544-4d7f5cbab1ef/img-JDvDQ97clCKpUTkJvVr3M.jpeg "
            class="logo"
          />
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/medx">MedX</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/">Smart Track</a></li>
          </ul>
        </nav>
      </div>
    </div>
    {% block content %} {% endblock %}
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-about">
          <h2>About Us</h2>
          <p>
            We are committed to providing the best services and experiences for
            our customers. Follow us for updates and news.
          </p>
        </div>

        <div class="footer-links">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#MedX">MedX</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#smart_track">Smart track</a></li>
          </ul>
        </div>

        <div class="footer-social">
          <h2>Follow Us</h2>
          <div class="social-icons">
            <a
              href="https://github.com/mani-1509"
              class="linkText"
              target="_blank"
            ></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Your Vmed. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>
