<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
  />
</head>
{% extends "base.html" %}{% block content %}
<div class="home">
  <video autoplay loop muted plays-inline class="vdo">
    <source
      src="https://ik.imagekit.io/79zi0g88v/WhatsApp%20Video%202024-12-06%20at%2016.48.14_a7e0b868.mp4?updatedAt=1733484091216"
    />
  </video>
  <div class="context">
    <h1>VMed</h1>
    <p>Transforming your Care Virtual</p>
  </div>
</div>
<div class="wcu" id="wcu">
  <img
    src="https://i.pinimg.com/736x/dd/a7/51/dda75152650e79b7a5bc3cd8cf64fba4.jpg"
    class="wcu_img"
  />
  <div class="wcu_p">
    <h1>Providing the best to you</h1>
    <p>
      Getting your diagnosis right the first time means you can start on the
      most effective treatment plan. We are continuously developing better tools
      for diagnosis and treatment, so you get answers, options, and hope where
      none may have existed before.
    </p>
  </div>
</div>
<div class="wcu">
  <div class="wcu_p">
    <h1>Experts at your hand</h1>
    <p>
      Our team includes the best specialists in every medical field you need,
      focused on you. No matter what serious or complex health challenge you're
      facing, you can be confident that you're receiving the most advanced care
      at Vmed.
    </p>
  </div>
  <img
    src="https://i.pinimg.com/736x/69/2e/7b/692e7bbf76db773ebaf4bc48976c2cb4.jpg"
    class="wcu_img"
  />
</div>
<div class="vmed">
  <div class="para">
    <h1>Vmed</h1>
    <p>
      Vmed is a cutting-edge online healthcare platform designed to make medical
      consultations easier and more accessible. Our mission is to connect
      patients with professional Chatbot from the comfort of their homes.
    </p>
  </div>
  <div class="images">
    <div class="carrd">
      <img
        src="https://miro.medium.com/v2/resize:fit:703/1*nsOCnVqksL3An2SenF2AMA.jpeg"
        class="ii"
      />
      <div class="card_para">
        <h1>Chatbot Assistance</h1>
        <p>
          Vmed’s intelligent chatbot is available 24/7 to guide you through your
          health, answer basic health queries, and provide preliminary advice.
        </p>
      </div>
    </div>
    <div class="carrd">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStsUN8S504o-N4-O-bxzbjbyMKUBfLy0nOlQ&s"
        class="ii"
      />
      <div class="card_para">
        <h1>Expert Recommendations</h1>
        <p>
          After consulting with a Chatbot, receive personalized health
          suggestions and follow-ups, ensuring continuous care and support.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
